/*---------------------------------------------------------
Restart
---------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none !important;
    font-family: 'Roboto', sans-serif;
}
/*---------------------------------------------------------
Global Css
---------------------------------------------------------*/
body,html{
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}
/*---------------------------------------------------------
Swiper
---------------------------------------------------------*/
.swiper {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev, .swiper-button-next{
      color: #a6eaca !important;
  }
/*---------------------------------------------------------
Header
---------------------------------------------------------*/
header{
    height: 143px;
}
.headertop {
    padding: 30px 0;
}
.headertop .col-12 .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headertop .col-12 .content .logo img{
    max-width: 150px;
    max-height: 50px;
}
.headertop .col-12 .content .search{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 30px;
    padding-left: 15px;
    position: relative;
}
/* .headertop .col-12 .content .search .populars{
    position: absolute;
    left: 0;
    top: 120%;
    width: 100%;
    height: auto;
    background: white;
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
    border-radius: 10px;
    z-index: 1000;
    padding: 18px;
    visibility: hidden;
    opacity: 0;
    transform: translate(-10px,-10px);
}
.headertop .col-12 .content .search .populars.active{
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}
.headertop .col-12 .content .search .populars .contentpopular h3{
    font-size: 20px;
}
.headertop .col-12 .content .search .populars .contentpopular ul{
    margin: 0;
    padding: 0;
}
.headertop .col-12 .content .search .populars .contentpopular ul li{
    margin: 3px 0;
}
.headertop .col-12 .content .search .populars .contentpopular ul li a{
    display: flex;
    width: 100%;
    color: black;
    transition: all 300ms;
}
.headertop .col-12 .content .search .populars .contentpopular ul li a:hover{
    color: #a6eaca;
    transform: translateX(5px);
} */
.headertop .col-12 .content .search .products{
    position: relative;
    margin-right: 20px;
}
.headertop .col-12 .content .search .products button{
    background: transparent;
    border: none;
    outline: none;
    font-weight:normal;
    font-size: 22px;
    cursor: pointer;
}
.headertop .col-12 .content .search .products button i{
    margin-left: 10px;
}
.headertop .col-12 .content .search .products .productsopenmenu{
    position: absolute;
    top: 113%;
    left: 0;
    width: 180px;
    background: white;
    box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.71);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 500ms;
    z-index: 1000;
}
.headertop .col-12 .content .search .products .productsopenmenu.active{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.headertop .col-12 .content .search .products .productsopenmenu ul{
    margin: 0;
    padding: 0;
    padding: 10px 15px;
}
.headertop .col-12 .content .search .products .productsopenmenu ul li{
    margin: 5px 0;
}
.headertop .col-12 .content .search .products .productsopenmenu ul li a{
    color: black;
}
.headertop .col-12 .content .search .searchinputdiv input{
    background: transparent;
    border: none;
    outline: none;
    width: 500px;

}
.headertop .col-12 .content .search .searchbutton{
    height: 37px;
    display: flex;
    border-radius: 0 30px 30px 0;
    align-items: center;
    justify-content: center;
    width: 50px;
    transition: all 300ms;
    background: transparent;
}
.headertop .col-12 .content .search .searchbutton button{
    background: transparent;
    border: none;
    outline: none;


}
.headertop .col-12 .content .search .searchbutton:hover{
    background: #a6eaca;
}
.headertop .col-12 .content .search .searchbutton.active{
    background: #a6eaca;
}
.headertop .col-12 .content .icons ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.headertop .col-12 .content .icons ul li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headertop .col-12 .content .icons ul li:hover{
    background: rgb(212, 212, 212);
}
.headertop .col-12 .content .icons ul li a{
    color: black;
    font-size: 25px;
}
.headerbottomfullcon{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    
}
.headerbottom{
    padding: 0;
}
.headerbottom ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding: 5px 0;

}
.headerbottom .col-lg-8 ul{
    justify-content: space-between;
}
.headerbottom .col-lg-4 ul{
    justify-content: space-evenly;
    position: relative;
}
.headerbottom .col-lg-4 ul::before{
    content: "";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 80%;
    background: black;
}
.headerbottom  ul li a{
    color: black;
}
.headerbottom  ul li{
    position: relative;
}
.headerbottom  ul li.active::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #a6eaca;
    transition: all 300ms;
}

.headerbottom  ul li .header__nav-dropdown-menu{
    position: absolute;
    
    top: 115%;
    flex-direction: row;
    width: auto;
    height: auto;
    left: 0;
    right: initial;
    padding: 32px 40px;
    height: auto;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    border-top: 1px solid #e2e9ee;
    border-radius: 0 0 4px 4px;
    cursor: initial;
    display: flex;
    background: white;
    overflow: hidden;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
}
.headerbottom  ul li:nth-child(4) .header__nav-dropdown-menu{
    left: -300%;
}
.headerbottom  ul li:nth-child(5) .header__nav-dropdown-menu{
    left: -300%;
}
.headerbottom  ul li:nth-child(6) .header__nav-dropdown-menu{
    left: auto;
    right: -400%;
}
.headerbottom  ul li:nth-child(7) .header__nav-dropdown-menu{
    left: auto;
    right: -400%;
}
.headerbottom .rightcol  ul li .header__nav-dropdown-menu{
    left: auto;
    right: -200%;
}
.headerbottom  ul li:hover .header__nav-dropdown-menu{
    visibility: visible;
    opacity: 1;
}
.header__nav-dropdown-column{
    margin-right: 30px;
    order: 1;
    padding: 0;
    display: flex;
    flex-direction: column;

}
.header__nav-dropdown-heading{
    margin-bottom: 16px;
}
.sp-subhead{
    font-size: 18px;
    color: #303538;
    font-weight: 700;
    line-height: 1.5;
    min-width: 180px;
}
.header__nav-dropdown-container:last-of-type{
    margin-right: 0;
}
.header__nav-dropdown-container{
    margin: 0 20px 0 0;
}
.sp-a.sp-teal-link{
    color: #088178;
    text-decoration: none;
}
.header__nav-dropdown-link {
    padding-bottom: 20px;
    display: block;
    font-size: 16px;
    font-weight: bold;
}
/*---------------------------------------------------------
mobileheader
---------------------------------------------------------*/
.mobileheader .content {
    padding: 20px 10px;
}
.hamburger{
    padding: 0;
}
.mobileheader .content .topcontent{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.mobileheader .content .topcontent > div{
    display: flex;
    align-items: center;
}
.mobileheader .content .topcontent .logo{
    margin-left: 10px;
}
.mobileheader .content .topcontent .marketicon a{
    color: black;
    font-size: 28px;
}
.mobileheader .content .bottomcontent{
    position: relative;
}
.mobileheader .content .bottomcontent .searchinputdiv{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 3px 15px;
    border-radius: 30px;

}
.mobileheader .content .bottomcontent  .populars{
    position: absolute;
    left: 0;
    top: 120%;
    width: 100%;
    height: auto;
    background: white;
    box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
    border-radius: 10px;
    z-index: 1000;
    padding: 18px;
    visibility: hidden;
    opacity: 0;
    transform: translate(-10px,-10px);

}
.mobileheader .content .bottomcontent  .populars.active{
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}
.mobileheader .content .bottomcontent  .populars .contentpopular h3{
    font-size: 20px;
}
.mobileheader .content .bottomcontent  .populars .contentpopular ul{
    margin: 0;
    padding: 0;
}
.mobileheader .content .bottomcontent  .populars .contentpopular ul li{
    margin: 3px 0;
}
.mobileheader .content .bottomcontent  .populars .contentpopular ul li a{
    display: flex;
    width: 100%;
    color: black;
    transition: all 300ms;
}
.mobileheader .content .bottomcontent  .populars .contentpopular ul li a:hover{
    color: #a6eaca;
    transform: translateX(5px);
}
.mobileheader .content .bottomcontent .searchinputdiv input{
    background: transparent;
    border: none;
    outline: none;
    width: 300px;
    margin-right: 10px;
}
.mobileheader .content .bottomcontent .searchinputdiv button{
    background: transparent;
    border: none;
    outline: none;
}
/*---------------------------------------------------------
mobileopenmenu
---------------------------------------------------------*/
.mobileopenmenu{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1000;
    overflow: scroll;
    transition: all 500ms;

}
.mobileopenmenu.active{
    left: 0;
}
.mobileopenmenu .close{
    position: absolute;
    top: 10px;
    right: 10px;
}
.mobileopenmenu .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;

}
.mobileopenmenu ul{
    margin: 0;
    padding: 0;
}
.mobileopenmenu .products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    
}
.mobileopenmenu .products button{
    background: transparent;
    border: none;
    outline: none;
    font-weight:normal;
    font-size: 22px;
    cursor: pointer;
}
.mobileopenmenu .products button i{
    margin-left: 10px;
}
.mobileopenmenu .products .productsopenmenumobile{
    width: 180px;
    z-index: 1000;
    display: none;
}

.mobileopenmenu .products .productsopenmenumobile.active{
    display: inline-block;
}
.mobileopenmenu .products .productsopenmenumobile ul{
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mobileopenmenu .products .productsopenmenumobile ul li{
    margin: 5px 0;
}
.mobileopenmenu .products .productsopenmenumobile ul li a{
    color: black;
}
.mobileopenmenu .icons ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.mobileopenmenu .icons ul li{
    margin: 0 10px;
}
.mobileopenmenu .icons ul li a{
    color: black;
    font-size: 25px;
}



.mobileopenmenu .licontents{
    margin-top: 20px;
}
.mobileopenmenu .licontents ul{
    position: relative;
    padding-top: 10px;
    
}
.mobileopenmenu .licontents ul:before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    width: 100%;
    height: 1px;
    background: black;
}
.mobileopenmenu .licontents ul li{
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mobileopenmenu .licontents ul li a{
    color: black;
    text-align: center;
}
/*---------------------------------------------------------
Banner
---------------------------------------------------------*/
.banner{
    height: 500px;
}
.banner .container-fluid{
    height: 100%;
}
.banner .container-fluid .row{
    height: 100%;
}
.banner .container-fluid .row .col-12{
    height: 100%;
}
/*---------------------------------------------------------
products
---------------------------------------------------------*/


.products .topcol{
    padding-top: 30px;
}
.products .topcol button{
    border: none;
    outline: none;
    width: 200px;
    height: 50px;
    color: black;
    background: #a6eaca;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 5px;
}
.products .topcol button i{
    margin-right: 15px;
    margin-left: 10px;
}
.products .toptextcol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    transform: translate(0.3px, -1px);
    width: 110%;
    box-shadow: 1px 0px 1px 2px transparent;


}
.products .toptextcol a{
    color: #a6eaca;
    font-size: 20px;
    font-weight: bold;
}
.products .toptextcol a i{
    margin-left: 5px;
}
.products .maincontentcol{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.products .filterdiv{
    margin-top: 10px;
    padding-right: 10px;
}
.products .filterdiv .TopMainText{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products .filterdiv .TopMainText button{
    background: transparent;
    color: #a6eaca;
    border: none;
    outline: none;
    font-weight: bold;
}
.products .filterdiv ul{
    margin: 0;
    padding: 0;
}
.products .filterdiv div:not(:nth-child(1)) button.opendownmenu{
    background: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}
.products .filterdiv div:not(:nth-child(1)) button.opendownmenu i{
    font-size: normal;
    transition: all 300ms;
}
.products .filterdiv div:not(:nth-child(1)) button.opendownmenu.deactive i{
    transform: rotate(-90deg);
}
.products .filterdiv ul.deactive{
    display: none;
}
.products .filterdiv .categories ul li a{
    color: black;
    font-size: 18px;
}
.products .filterdiv .content .TopMainText{
    margin: 0  !important;
}
.products .filterdiv .content div:not(:nth-child(2)){
    margin-top: 30px;
}
.products .filterdiv div ul li{
    margin: 5px 0;
}
.products .filterdiv div ul li input{
    width: 10px;
    height: 10px;
}
.products .filterdiv div ul li a{
    color: black;
    font-size: 17px;
}
.products .filterdiv div ul li button{
    background: transparent;
    border: none;
    outline: none;
    color: #a6eaca;
    font-weight: bold;
}
.products .filterdiv .clearallfilters{
    margin-top: 30px;
}
.products .filterdiv .clearallfilters button{
    border: none;
    outline: none;
    display: flex;
    width: 100%;
    height: 40px;
    background: rgb(228, 228, 228);
    color: #a6eaca;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products img{
    width: 100%;
    height: 100%;
}
.products .maincontentcol.active .productsdiv{
    width: 90%;
    margin-top: 40px;
}
.products .filterdiv{
    display: none;
    width: 25%;
}
.products .maincontentcol.active .filterdiv{
    display: inline-block;
}
.products .productsdiv .container-fluid .row{
    width: 100%;
    margin: 0;
}
.products .productsdiv .container-fluid:not(:nth-child(1)){
    border: 3px solid transparent;
    transition: all 300ms;
}

.products .productsdiv .container-fluid:hover{
    border-color: #a6eaca;
}
.products .productsdiv .container-fluid:hover .toptextcol{
    background: #a6eaca;
    box-shadow: 1px 0px 1px 2px #a6eaca;
}
.products .productsdiv .container-fluid:hover .toptextcol a{
    color: black;
}
.products .productsdiv .container-fluid{
    margin-top: 20px;
}
.products .productsdiv .col-lg-3{
    margin-top: 10px;
}
.products .productsdiv .col-lg-3 .imgdiv{
    position: relative;
}
.products .productsdiv .col-lg-3 .imgdiv .hovermenu{
    position: absolute;
    top: 8px;
    right: 8px;
    visibility: hidden;
    transform: translateX(30px);
    opacity: 0;
    transition: all 400ms;
}
.products .productsdiv .col-lg-3:hover .imgdiv .hovermenu{
    visibility: visible;
    transform: translateX(0);
    opacity: 1;
}
.products .productsdiv .col-lg-3 .imgdiv .hovermenu ul{
    margin: 0;
    padding: 0;
}
.products .productsdiv .col-lg-3 .imgdiv .hovermenu ul li{
    width: 30px;
    height: 30px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    position: relative;
}
.products .productsdiv .col-lg-3 .imgdiv .hovermenu ul li a{
    color: black;
    font-size: 18px;
}
.products .productsdiv .col-lg-3 .imgdiv .hovermenu ul li:nth-child(1){
    margin: 0;
}
.products .productsdiv .col-lg-3 .imgdiv .hovermenu ul li p{
    margin: 0;
    padding: 0;
    position: absolute;
    right: 130%;
    top: 50%;
    transform: translate(20px,-50%);
    background: white;
    height: 100%;
    padding: 0 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
}
.products .productsdiv .col-lg-3 .imgdiv .hovermenu ul li p::before{
    content: "";
    position: absolute;
    top: 35%;
    transform:  rotate(45deg);
    right: -4px;
    width: 10px;
    height: 10px;
    background: white;
    
}
.products .productsdiv .col-lg-3 .imgdiv .hovermenu ul li:hover p{
    visibility: visible;
    opacity: 1;
    transform: translate(0px,-50%);

}
.products .productsdiv .col-lg-3 .text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.products .productsdiv .col-lg-3 .text .left h3{
    margin: 0;
    padding: 0;
    font-size: 22px;
}
.products .productsdiv .col-lg-3 .text .left p{
    margin: 0;
    padding: 0;
    font-size: 13px;
}
.products .productsdiv .col-lg-3 .text .right > p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
    font-size: 19px;
    text-align: end;
}
.products .productsdiv .col-lg-3 .text .right .discount{
    display: flex;
    align-items: center;
    visibility: hidden;
}
.products .productsdiv .col-lg-3 .text .right .discount.active{
    visibility: visible;
}
.products .productsdiv .col-lg-3 .text .right .discount p{
    margin: 0;
    padding: 0;
    color: #a6eaca;
}
.products .productsdiv .col-lg-3 .text .right .discount p:nth-child(1){
    position: relative;
    margin-right: 10px;
}
.products .productsdiv .col-lg-3 .text .right .discount p:nth-child(1)::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1px;
    width: 100%;
    background: #a6eaca;
}
/*---------------------------------------------------------
topcategories
---------------------------------------------------------*/
.topcategories{
    margin-top: 50px;
}
.topcategories .TopText h3{
    font-size: 35px;
}
.topcategories img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.topcategories .col-lg-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: .6;
    transition: all 300ms;
}
.topcategories .col-lg-2:hover{
    opacity: 1;
}
.topcategories .imgdiv{
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 150px;
}
.topcategories .col-lg-2 .textdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.topcategories .col-lg-2 .textdiv p{
    color: black;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    
}
/*---------------------------------------------------------
PopularSearches
---------------------------------------------------------*/
.PopularSearches {
    margin-top: 40px;
}
.PopularSearches .TopText h3{
    font-size: 35px;
}
.PopularSearches .col-lg-3{
    margin-top: 10px;
}
.PopularSearches .col-lg-3 a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px 8px;
    color: black;
    font-weight: bold;
    font-size: 25px;
    border: 1px solid black;
    transition: all 300ms;
}
.PopularSearches .col-lg-3 a:hover{
    background: black;
    color: white;
}
/*---------------------------------------------------------
Footer
---------------------------------------------------------*/
footer{
    padding:  30px 0;
    margin-top: 50px;
    background: #fafafa;
}
footer .footertop{
    border-bottom: 1px solid gray;
}
footer .footertop .col-12{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .footertop .logo img{
    max-width: 150px;
    max-height: 50px;
}
footer .footertop .col-12 .socialmedias ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .footertop .col-12 .socialmedias ul li{
    margin: 0 10px;
}
footer .footertop .col-12 .socialmedias ul li a{
    font-size: 30px;
    color: black;
}
footer .footermiddle{
    padding: 30px 0;
    border-bottom: 1px solid gray;
}
footer .footermiddle .leftcol h4{
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: underline !important;
}
footer .footermiddle .col-lg-2 ul{
    margin: 0;
    padding: 0;
}
footer .footermiddle h3{
    font-weight: bold;
}
footer .footermiddle .col-lg-2 ul li{
    margin: 5px 0;
    transition: all 300ms;
}
footer .footermiddle .col-lg-2 ul li:hover{
    transform: translateX(10px);
}
footer .footermiddle .col-lg-2 ul li a{
    color: black;
    font-size: 20px;
}
footer .footerbottom .col-12{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
}
footer .footerbottom .col-12 ul{
    display: flex;
    align-items: center;
}
footer .footerbottom .col-12 ul li{
    margin: 0 15px;
}
footer .footerbottom .col-12 ul a{
    color: gray;
    text-decoration: underline !important;
}

/*---------------------------------------------------------
Medias
---------------------------------------------------------*/
@media (min-width:992px){
    .mobileheader{
        display: none;
    }
}
@media (max-width:992px){
    header{
        height: 100px;
    }
    .headertop{
        display: none;
    }
    .headerbottomfullcon{
        display: none;
    }
    footer .footermiddle .col-lg-2{
        margin-top: 10px;
    }
    .products .maincontentcol{
        flex-direction: column;
    }
    .products .maincontentcol.active .productsdiv{
        width: 100%;
    }
    .products .maincontentcol.active .filterdiv{
        width: 100%;
    }
}
@media (max-width:640px){
    .products .productsdiv .col-lg-3 .text{
        margin-top: 10px;
    }
    .products .productsdiv .col-lg-3 .text .left h3{
        font-size: 18px;
    }
    .products .productsdiv .col-lg-3 .text .left p{
        font-size: 12px;
    }
    .products .productsdiv .col-lg-3 .text .right .discount p:nth-child(1){
        margin-right: 4px;
    }
    .products .productsdiv .col-lg-3 .text .right .discount p{
        font-size: 8px;
    }
    .products .productsdiv .col-lg-3:hover .imgdiv .hovermenu{
        visibility: hidden;
        transform: translateX(0);
        opacity: 0;
    }
    footer .footerbottom .col-12 ul{
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }
    footer .footerbottom .col-12 ul li{
        width: 40%;
        margin: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    footer .footerbottom .col-12 ul li a{
        display: flex;
        align-items: center;

        width: 100%;
        font-size: 15px;
        text-align: start;
    }
}